<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_1fa5d7874d724054b0fddb7b932f5213 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_1fa5d7874d724054b0fddb7b932f5213" ></div>
        
</body>
<script>    
    
            var map_1fa5d7874d724054b0fddb7b932f5213 = L.map(
                "map_1fa5d7874d724054b0fddb7b932f5213",
                {
                    center: [40.0, 50.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_58a14833cbae4f3191d6087c1816ae3b = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_1fa5d7874d724054b0fddb7b932f5213);
        
    
            var feature_group_f4e1c5fd71814cf481acc5a2529e8060 = L.featureGroup(
                {}
            ).addTo(map_1fa5d7874d724054b0fddb7b932f5213);
        
    
            var marker_123960a44a2d497180cb4c1bc0f71bda = L.marker(
                [42.6384261, 12.674297],
                {}
            ).addTo(feature_group_f4e1c5fd71814cf481acc5a2529e8060);
        
    
        var popup_56faac063bff4bf5a4b01714fa04ac2b = L.popup({"maxWidth": "100%"});

        
            var html_5749c4637e9d4dd293d9fdf11f635115 = $(`<div id="html_5749c4637e9d4dd293d9fdf11f635115" style="width: 100.0%; height: 100.0%;">nstbhn</div>`)[0];
            popup_56faac063bff4bf5a4b01714fa04ac2b.setContent(html_5749c4637e9d4dd293d9fdf11f635115);
        

        marker_123960a44a2d497180cb4c1bc0f71bda.bindPopup(popup_56faac063bff4bf5a4b01714fa04ac2b)
        ;

        
    
    
            var marker_c2cdbcd290a24ceb95a9296b0c0e392d = L.marker(
                [51.7520131, -1.2578499],
                {}
            ).addTo(feature_group_f4e1c5fd71814cf481acc5a2529e8060);
        
    
        var popup_51022862d6c84f63b9116f0ab14a8970 = L.popup({"maxWidth": "100%"});

        
            var html_4c47004aa85f4817b541bb6e323ceff2 = $(`<div id="html_4c47004aa85f4817b541bb6e323ceff2" style="width: 100.0%; height: 100.0%;">Tejniar</div>`)[0];
            popup_51022862d6c84f63b9116f0ab14a8970.setContent(html_4c47004aa85f4817b541bb6e323ceff2);
        

        marker_c2cdbcd290a24ceb95a9296b0c0e392d.bindPopup(popup_51022862d6c84f63b9116f0ab14a8970)
        ;

        
    
    
            var marker_e32f6f8e81724cd4b789463555215edc = L.marker(
                [37.4429964, -122.1545229],
                {}
            ).addTo(feature_group_f4e1c5fd71814cf481acc5a2529e8060);
        
    
        var popup_f6d8afa418ad457aaf7ef558a16db692 = L.popup({"maxWidth": "100%"});

        
            var html_7219d594f5fd4641b37d11ee6a771b52 = $(`<div id="html_7219d594f5fd4641b37d11ee6a771b52" style="width: 100.0%; height: 100.0%;">Yaryna Fialko</div>`)[0];
            popup_f6d8afa418ad457aaf7ef558a16db692.setContent(html_7219d594f5fd4641b37d11ee6a771b52);
        

        marker_e32f6f8e81724cd4b789463555215edc.bindPopup(popup_f6d8afa418ad457aaf7ef558a16db692)
        ;

        
    
    
            var marker_3a4765662cdf4de09fccf12e3e86dce7 = L.marker(
                [41.900983100000005, 12.451167243196632],
                {}
            ).addTo(feature_group_f4e1c5fd71814cf481acc5a2529e8060);
        
    
        var popup_ea4f9fa925c74268ac89b524a18f2e82 = L.popup({"maxWidth": "100%"});

        
            var html_bbe2ce7ad99b48da8c779197fc7b2bd5 = $(`<div id="html_bbe2ce7ad99b48da8c779197fc7b2bd5" style="width: 100.0%; height: 100.0%;">oleksandra</div>`)[0];
            popup_ea4f9fa925c74268ac89b524a18f2e82.setContent(html_bbe2ce7ad99b48da8c779197fc7b2bd5);
        

        marker_3a4765662cdf4de09fccf12e3e86dce7.bindPopup(popup_ea4f9fa925c74268ac89b524a18f2e82)
        ;

        
    
    
            var marker_d94fdc334dd54e14a631be61cd98667d = L.marker(
                [-24.7761086, 134.755],
                {}
            ).addTo(feature_group_f4e1c5fd71814cf481acc5a2529e8060);
        
    
        var popup_4632914f401d46fbaa6b58f429e6c4a3 = L.popup({"maxWidth": "100%"});

        
            var html_71f2e555c9654901ab4cf6489d8631d0 = $(`<div id="html_71f2e555c9654901ab4cf6489d8631d0" style="width: 100.0%; height: 100.0%;">Olha</div>`)[0];
            popup_4632914f401d46fbaa6b58f429e6c4a3.setContent(html_71f2e555c9654901ab4cf6489d8631d0);
        

        marker_d94fdc334dd54e14a631be61cd98667d.bindPopup(popup_4632914f401d46fbaa6b58f429e6c4a3)
        ;

        
    
    
            var marker_a377aa67d2184445b5e08ffc6dad4203 = L.marker(
                [36.7014631, -118.755997],
                {}
            ).addTo(feature_group_f4e1c5fd71814cf481acc5a2529e8060);
        
    
        var popup_79fd042cfda3466fa16d2f936fa29ad9 = L.popup({"maxWidth": "100%"});

        
            var html_730616a62c2141a4a6a822f15b9036d4 = $(`<div id="html_730616a62c2141a4a6a822f15b9036d4" style="width: 100.0%; height: 100.0%;">Nazar</div>`)[0];
            popup_79fd042cfda3466fa16d2f936fa29ad9.setContent(html_730616a62c2141a4a6a822f15b9036d4);
        

        marker_a377aa67d2184445b5e08ffc6dad4203.bindPopup(popup_79fd042cfda3466fa16d2f936fa29ad9)
        ;

        
    
    
            var marker_b2dcd7994ad54851be99ce6e884f0bca = L.marker(
                [51.5073219, -0.1276474],
                {}
            ).addTo(feature_group_f4e1c5fd71814cf481acc5a2529e8060);
        
    
        var popup_0ecd28a2f4f7493fb7e743a8b8f09601 = L.popup({"maxWidth": "100%"});

        
            var html_f8f7d7cf87cf4cc7876066839976de6c = $(`<div id="html_f8f7d7cf87cf4cc7876066839976de6c" style="width: 100.0%; height: 100.0%;">Yaroslav Korch</div>`)[0];
            popup_0ecd28a2f4f7493fb7e743a8b8f09601.setContent(html_f8f7d7cf87cf4cc7876066839976de6c);
        

        marker_b2dcd7994ad54851be99ce6e884f0bca.bindPopup(popup_0ecd28a2f4f7493fb7e743a8b8f09601)
        ;

        
    
    
            var marker_7a3943fc21b0436a95aab98842e37ccb = L.marker(
                [49.4871968, 31.2718321],
                {}
            ).addTo(feature_group_f4e1c5fd71814cf481acc5a2529e8060);
        
    
        var popup_d16e10c490d74473b64602f029684fcf = L.popup({"maxWidth": "100%"});

        
            var html_4862c0d612de4985b759d48259b9da32 = $(`<div id="html_4862c0d612de4985b759d48259b9da32" style="width: 100.0%; height: 100.0%;">Владиславікус</div>`)[0];
            popup_d16e10c490d74473b64602f029684fcf.setContent(html_4862c0d612de4985b759d48259b9da32);
        

        marker_7a3943fc21b0436a95aab98842e37ccb.bindPopup(popup_d16e10c490d74473b64602f029684fcf)
        ;

        
    
    
            var marker_3fedf14ec13a4a5490b958f2e668e1c5 = L.marker(
                [42.11011205, 48.18118632479391],
                {}
            ).addTo(feature_group_f4e1c5fd71814cf481acc5a2529e8060);
        
    
        var popup_fc9cf822e0b74966a0cde9ef72184c6a = L.popup({"maxWidth": "100%"});

        
            var html_23db5cc75b14479eab72bb5d5cd3c8bb = $(`<div id="html_23db5cc75b14479eab72bb5d5cd3c8bb" style="width: 100.0%; height: 100.0%;">Maga Halilov</div>`)[0];
            popup_fc9cf822e0b74966a0cde9ef72184c6a.setContent(html_23db5cc75b14479eab72bb5d5cd3c8bb);
        

        marker_3fedf14ec13a4a5490b958f2e668e1c5.bindPopup(popup_fc9cf822e0b74966a0cde9ef72184c6a)
        ;

        
    
    
            var marker_f823ac5501d34682b148ddc7d83a4422 = L.marker(
                [53.4250605, 27.6971358],
                {}
            ).addTo(feature_group_f4e1c5fd71814cf481acc5a2529e8060);
        
    
        var popup_4588f772013e4dfcadae733bf85ce53d = L.popup({"maxWidth": "100%"});

        
            var html_d6cc3b8650fd4b77a28617255751dfd2 = $(`<div id="html_d6cc3b8650fd4b77a28617255751dfd2" style="width: 100.0%; height: 100.0%;">ZETA 9impulse</div>`)[0];
            popup_4588f772013e4dfcadae733bf85ce53d.setContent(html_d6cc3b8650fd4b77a28617255751dfd2);
        

        marker_f823ac5501d34682b148ddc7d83a4422.bindPopup(popup_4588f772013e4dfcadae733bf85ce53d)
        ;

        
    
    
            var marker_506013f8759a4a16b9fd3626ba84c4b9 = L.marker(
                [37.7790262, -122.419906],
                {}
            ).addTo(feature_group_f4e1c5fd71814cf481acc5a2529e8060);
        
    
        var popup_b7492d4588094d4f8bf0e391eaac7e3d = L.popup({"maxWidth": "100%"});

        
            var html_d0ed1ecaaf2f488e8dfb10fc947b09bc = $(`<div id="html_d0ed1ecaaf2f488e8dfb10fc947b09bc" style="width: 100.0%; height: 100.0%;">Discord</div>`)[0];
            popup_b7492d4588094d4f8bf0e391eaac7e3d.setContent(html_d0ed1ecaaf2f488e8dfb10fc947b09bc);
        

        marker_506013f8759a4a16b9fd3626ba84c4b9.bindPopup(popup_b7492d4588094d4f8bf0e391eaac7e3d)
        ;

        
    
    
            var marker_b1a0314d12e34dbab25df0abd8b1c9ac = L.marker(
                [49.4871968, 31.2718321],
                {}
            ).addTo(feature_group_f4e1c5fd71814cf481acc5a2529e8060);
        
    
        var popup_2b79a56e1ebf477c9bc7bfa8ca9ef6e2 = L.popup({"maxWidth": "100%"});

        
            var html_1f672a541f74479ea9c086b2bc8f9c6c = $(`<div id="html_1f672a541f74479ea9c086b2bc8f9c6c" style="width: 100.0%; height: 100.0%;">Arsenkaa</div>`)[0];
            popup_2b79a56e1ebf477c9bc7bfa8ca9ef6e2.setContent(html_1f672a541f74479ea9c086b2bc8f9c6c);
        

        marker_b1a0314d12e34dbab25df0abd8b1c9ac.bindPopup(popup_2b79a56e1ebf477c9bc7bfa8ca9ef6e2)
        ;

        
    
    
            var marker_e9af885dc8b745a0a64c0701e406dc67 = L.marker(
                [22.3511148, 78.6677428],
                {}
            ).addTo(feature_group_f4e1c5fd71814cf481acc5a2529e8060);
        
    
        var popup_bc47a7d712c9468b933bb385d8ace6aa = L.popup({"maxWidth": "100%"});

        
            var html_5af1d396cc3f4b7ba538b40ead377bb6 = $(`<div id="html_5af1d396cc3f4b7ba538b40ead377bb6" style="width: 100.0%; height: 100.0%;">Wykrhm Reddy</div>`)[0];
            popup_bc47a7d712c9468b933bb385d8ace6aa.setContent(html_5af1d396cc3f4b7ba538b40ead377bb6);
        

        marker_e9af885dc8b745a0a64c0701e406dc67.bindPopup(popup_bc47a7d712c9468b933bb385d8ace6aa)
        ;

        
    
    
            var marker_e5b946b745b149598e8ae1eccd01967d = L.marker(
                [38.8950368, -77.0365427],
                {}
            ).addTo(feature_group_f4e1c5fd71814cf481acc5a2529e8060);
        
    
        var popup_cca7f35cbca0465783239e941c0dc6bd = L.popup({"maxWidth": "100%"});

        
            var html_2ced2cbfa5df44aabecd20702c5b20fa = $(`<div id="html_2ced2cbfa5df44aabecd20702c5b20fa" style="width: 100.0%; height: 100.0%;">Joe Biden</div>`)[0];
            popup_cca7f35cbca0465783239e941c0dc6bd.setContent(html_2ced2cbfa5df44aabecd20702c5b20fa);
        

        marker_e5b946b745b149598e8ae1eccd01967d.bindPopup(popup_cca7f35cbca0465783239e941c0dc6bd)
        ;

        
    
</script>