.window {
    border: none;
    width: 300px;
    height: 100px;
    margin: auto;
    margin-top: 225px;  
    padding: 75px;
    padding-right: 130px;
    text-align: center;
    font-size: 24px;
}

.text{
    margin-left: 25px;
}

.input {
    width: 225px;
    height: 50px;
    font-size: 24px;
    border-top: red 1px solid;
    border-left: red 1px solid;
    border-bottom: red 1px solid;
    border-right: none;
    padding-left: 10px;
    color:red;
    outline-style: none;
}

.bar {
    background-color: #fff;
    height: 54px;
    width: 54px;
    border-right:red 1px solid;
    border-top: red 1px solid;
    border-bottom: red 1px solid;
    border-left: none; 
    float: right;
    margin-left: -10px;
    /* display: inline-block; */
}

.margin {
    font-size: 0px;
    /* margin: -15px; */
}